CLIENT_ID=
DISCORD_TOKEN=

WHITELISTED_USERS=

SHOP_ID=
STORE_NAME=

SELLAUTH_API_KEY=
SELLAUTH_DOMAIN=
SELLAUTH_WEBHOOK_SECRET=

PAYPAL_EMAIL=
BITCOIN_ADDRESS=
LITECOIN_ADDRESS=

RESTOCK_ROLE_ID=
RESTOCK_WEBHOOK_URL=

INVOICE_NOTIFIER_ROLE_ID=
INVOICE_NOTIFIER_DISCORD_WEBHOOK_URL=
